@import url('http://fonts.googleapis.com/css?family=Kavoon');
body {
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif !important; 


  margin: 0;
  padding: 0;
  // background-color: !important
}
.div.card{
  margin-right: 0px;
}

.alert {
  margin: 30px;
}

